<ng-container *ngIf="!loading; else showLoading">
<div class="list">
  <div class="texture" *ngFor="let texture of textures; let i = index">
    <label>
      Name:
      <input [(ngModel)]="texture.name">
    </label>
    <br>
    <label>
      Texture:
      <input type="file" (change)="upload($event.target.files, texture)">
      <img *ngIf="texture.render" [src]="texture.render" width="50" height="50">
    </label>
    <br>
    <label>
      Fallback:
      <input type="color" [(ngModel)]="texture.fallback">
    </label>
    <br>
    <button (click)="save(texture)">Save</button>
    <button (click)="delete(texture, i)">Delete</button>
    <hr>
  </div>
</div>
<button (click)="new()">New</button>
</ng-container>
<ng-template #showLoading>Loading...</ng-template>