.grid-wrapper {
  width: 100vw;
  height: 100vw;
  overflow: auto;
}
.cell-wrapper {
  padding: 0;
}
.cell {
  width: 30px;
  height: 30px;
  position: relative;
}
.cell:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.1);
}
.cell-texture {
  width: 100%;
  height: 100%;
  user-select: none;
}
.cell-coords {
  position: absolute;
  font-size: .1em;
  bottom: 2px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  user-select: none;
  color: #999;
}