body {
  margin: 0;
  background: #666;
  font-family: sans-serif;
  color: #333;
}
* {
  box-sizing: border-box;
}
.screen {
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  background: #333;
  padding: .5vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.scene {
  flex: 3;
  /*background-image: url('https://i.pinimg.com/originals/06/d9/e2/06d9e2d6b2c26a9af5b98a0aa7048f1c.jpg');*/
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  user-select: none;
}
.field {
  flex: 1;
  display: flex;
  background: rgba(255,255,255,.3);
}
.field:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.field:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.animation {
  flex: 1.5;
}
.status {
  flex: 1;
  border-radius: 3px;
  display: flex;
  margin: 1.5vw;
  flex-direction: column;
}
.info {
  display: flex;
}
.genre {
  margin-top: -3px;
}
.genre.female {
  color: red;
}
.genre.male {
  color: blue;
}
.fill {
  flex: 1 1 auto;
}
.life-bar {
  height: 5vh;
  border-radius: 3px;
  background: #030;
  margin: 1vh 0;
  transition: background .5;
}
.life-bar.danger {
  background: #300;
}
.life-bar-current {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background: #090;
  transition: width .5s, background .5;
}
.life-bar.danger .life-bar-current {
  background: #900;
}

.hitpoints {
  text-align: right;
}
.actionbar {
  flex: 1;
  display: flex;
  padding: 2vw .5vw;
}
.text {
  flex: 4;
  color: #fafafa;
}
.side-menu {
  display: none;
  flex: 1;
  border-left: 1px solid #fafafa;
  color: #fafafa;
  flex-direction: column;
  padding: 0 1vw;
}
.side-menu.visible {
  display: flex;
}
.side-menu .row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.side-menu .menu-option {
  flex: 1;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.side-menu .menu-option:hover {
  color: #fafaaa;
}