<div class="screen">
  <div class="scene">
    <div class="field rival">
      <!--div class="status">
        <div class="info">
          <div class="name">PIDGEY</div>
          <div class="genre female">♀</div>
          <div class="fill"></div>
          <div class="level">Lv5</div>
        </div>
        <div class="life-bar">
          <div class="life-bar-current"></div>
        </div>
      </div-->
      <div class="animation">
        <!--img src="https://projectpokemon.org/images/normal-sprite/pidgey.gif"-->
      </div>
    </div>
    <div class="field player">
      <div class="animation"></div>
      <!--div class="status">
        <div class="fill"></div>
        <div class="info">
          <div class="name">PIKACHU</div>
          <div class="genre male">♂</div>
          <div class="fill"></div>
          <div class="level">Lv5</div>
        </div>
        <div class="life-bar">
          <div class="life-bar-current"></div>
        </div>
        <div class="hitpoints">
          100/100
        </div>
      </div-->
    </div>
  </div>
  <div class="actionbar">
    <div class="text">aa aaasdas dasdasd asdas dsada aa aaasdas dasdasd asdas</div>
    <div class="side-menu main-menu visible">
      <div class="row">
        <div class="menu-option option-fight">Fight</div>
        <div class="menu-option option-bag">Bag</div>
      </div>
      <div class="row">
        <div class="menu-option option-change">Pokemon</div>
        <div class="menu-option option-run">Run</div>
      </div>
    </div>
    <div class="side-menu moves-menu"></div>
  </div>
</div>